@keyframes pulse1 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.8; }
}

@keyframes pulse2 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.75; }
}

@keyframes pulse3 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.7; }
}

@keyframes pulse4 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.65; }
}

@keyframes pulse5 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.6; }
}

@keyframes pulse6 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.55; }
}

@keyframes pulse7 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.5; }
}

@keyframes pulse8 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.45; }
}

@keyframes pulse9 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.4; }
}

@keyframes pulse10 {
  0%, 50%, 100% { opacity: 0.3; }
  25%      { opacity: 0.35; }
}

.loading .half-hour {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  opacity: .3;
}

.loading .room:nth-child(1) .half-hour { animation-name: pulse1; }
.loading .room:nth-child(2) .half-hour { animation-name: pulse2; }
.loading .room:nth-child(3) .half-hour { animation-name: pulse3; }
.loading .room:nth-child(4) .half-hour { animation-name: pulse4; }
.loading .room:nth-child(5) .half-hour { animation-name: pulse5; }
.loading .room:nth-child(6) .half-hour { animation-name: pulse6; }
.loading .room:nth-child(7) .half-hour { animation-name: pulse7; }
.loading .room:nth-child(8) .half-hour { animation-name: pulse8; }
.loading .room:nth-child(9) .half-hour { animation-name: pulse9; }
.loading .room:nth-child(10) .half-hour { animation-name: pulse10; }

.loading .half-hour:nth-child(1)  { animation-delay: 0ms;  }
.loading .half-hour:nth-child(2)  { animation-delay: 31.25ms;  }
.loading .half-hour:nth-child(3)  { animation-delay: 62.5ms;  }
.loading .half-hour:nth-child(4)  { animation-delay: 93.75ms;  }
.loading .half-hour:nth-child(5)  { animation-delay: 125ms;  }
.loading .half-hour:nth-child(6)  { animation-delay: 156.25ms;  }
.loading .half-hour:nth-child(7)  { animation-delay: 187.5ms;  }
.loading .half-hour:nth-child(8)  { animation-delay: 218.75ms;  }
.loading .half-hour:nth-child(9)  { animation-delay: 250ms;  }
.loading .half-hour:nth-child(10)  { animation-delay: 281.25ms;  }
.loading .half-hour:nth-child(11)  { animation-delay: 312.5ms;  }
.loading .half-hour:nth-child(12)  { animation-delay: 343.75ms;  }
.loading .half-hour:nth-child(13)  { animation-delay: 375ms;  }
.loading .half-hour:nth-child(14)  { animation-delay: 406.25ms;  }
.loading .half-hour:nth-child(15)  { animation-delay: 437.5ms;  }
.loading .half-hour:nth-child(16)  { animation-delay: 468.75ms;  }
.loading .half-hour:nth-child(17)  { animation-delay: 500ms;  }
.loading .half-hour:nth-child(18)  { animation-delay: 531.25ms;  }
.loading .half-hour:nth-child(19)  { animation-delay: 562.5ms;  }
.loading .half-hour:nth-child(20)  { animation-delay: 593.75ms;  }
.loading .half-hour:nth-child(21)  { animation-delay: 625ms;  }
.loading .half-hour:nth-child(22)  { animation-delay: 656.25ms;  }
.loading .half-hour:nth-child(23)  { animation-delay: 687.5ms;  }
.loading .half-hour:nth-child(24)  { animation-delay: 718.75ms;  }
.loading .half-hour:nth-child(25)  { animation-delay: 750ms;  }
.loading .half-hour:nth-child(26)  { animation-delay: 781.25ms;  }
.loading .half-hour:nth-child(27)  { animation-delay: 812.5ms;  }
.loading .half-hour:nth-child(28)  { animation-delay: 843.75ms;  }
.loading .half-hour:nth-child(29)  { animation-delay: 875ms;  }
.loading .half-hour:nth-child(30)  { animation-delay: 906.25ms;  }
.loading .half-hour:nth-child(31)  { animation-delay: 937.5ms;  }
.loading .half-hour:nth-child(32)  { animation-delay: 968.75ms;  }
